<section>
    <img src="<%=item.image %> " alt="">
    <h2><%= item.title %> </h2>
    <h3><%= item.author %></h3>
    <p><%= item.description %></p>
    <p><%= item.isbn %></p>
    <p><%= item.book_shelf %></p>
    <button id="update">Update Book</button>

</section>
